<section class="container">
  <h1 class="mt-4 mb-2">Todos</h1>
  <input
    class="form-control mb-4"
    placeholder="What needs to be done?"
    autofocus=""
    [(ngModel)]="newTodo.title"
    (keyup.enter)="addTodo()"
  />
  <section class="main" *ngIf="todos.length > 0">
    <ul class="list-group">
      <li *ngFor="let todo of sortedTodos" class="list-group-item">
        <app-todorow
          [todo]="todo"
          [toggleTodoComplete]="toggleTodoComplete"
          [removeTodo]="removeTodo"
        ></app-todorow>
      </li>
    </ul>
  </section>
</section>
